body {
  font-family: 'Merriweather', serif;
}


.teamsHeight {
  height: 100px;
}


.teamLogo {
    max-width: 100%;
    max-height: 100%;
}

.vs {
  text-align: center;
  margin-top: 15%;
}


.marginBttm {
  margin-bottom: 0px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}


.record {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.collapsible {
  margin-bottom: 10px;
}

.collapsible-header {
  margin-bottom: 0px;
}


.btn {
  background-color: #2F3440;
}

/*DELETE LATER*/
.headB4Teams {

}





